.padding{
    padding: 10px;
  }
  .card {
  
    height: auto !important;
    width: '18rem' !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   

  }

  .btn-primary{
    background-color: #212529 !important;
    border-color: #212529 !important;
    
  }

   .btn-primary a {
    color: white;
    text-decoration: none;
  }